* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

.back-color {
    background-color: #E1FEC5;
}

.backblock-color {
    background-color: #CBEFB6;
}

.backblock-title-color {
    background-color: #A0C6A9;
}

.text-color {
    background-color: #99B5AC;
}

/*.non-use-for-moment {
    background-color: #7E9591;
}*/

.styleblock-radius {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}

.gridblock-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "col1 col2 col3";
}

.bold {
    font-weight: bold;
    text-transform: capitalize;
}