* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    background-image: url(backBienManger.jpg);
    background-size: cover;
    background-repeat: no repeat;
}

input {
    border: 0;
    width: 100%;
}

.backblock-color {
    background-color: #CBEFB6;
}

.backblock-title-color {
    background-color: #A0C6A9;
}

.text-color {
    background-color: #99B5AC;
}

.navbar-back-color {
    background-color: #7E9591;
}



.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-align-left {
    text-align: left;
    padding-left: 4vw;
}

.radiusblock-top-left {
    border-top-left-radius: 10%;
}

.radiusblock-bottom-left {
    border-bottom-left-radius: 10%;
}

.styleblock-radius {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}

.styleblock-title-radius {
    height: 20vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}

.displayblock-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridblock-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "col1 col2 col3";
}

.gridblock-7col {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "col7 col8";
}

.gridblock-8col {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "col7 col8";
}

.gridblock-10col {
    display: grid;
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "col4 col5 col6";
}

/*Css class for navbar (bootstrap)*/

.display {
    display: flex;
    align-items: center;
    justify-content: start;
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    display: flex;
    margin-right: 0.5em;
}

.navbar.bg-light {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.btn {
    border: 0;
}

.bi-search {
    color: black;
    font-size: 95%;
}

.bi-arrow-left-circle-fill {
    color: black;
    font-size: 95%;
}

.bi-trash-fill {
    color: black;
    font-size: 95%;
}

.bi-pen-fill {
    color: black;
    font-size: 95%;
}

.bi-plus {
    color: black;
    font-size: 85%;
}

.button_plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 2vh;
    background-color: grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

.logo_nav {
    width: 100%;
    height: 100%;
}

.div_logo {
    display: flex;
    width: 10vw;
    height: 5vh;
    margin-left: 17px;
    justify-content: center;
}

.mention_legales {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

.texte_mention {
    color: white;
}

@media screen and (min-width: 540px) {

    h1 {
        font-size: 1.6rem;
    }

    .title {
        position: absolute;
        top: 0.5em;
        width: 100%
    }

    .div_logo {
        display: flex;
        width: 9vw;
        height: 7vh;
        margin-left: 17px;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px) {

    .btn {
        padding: 10px 14px 10px 14px;
    }

    .navbar.bg-light {
        height: 12vh;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .title {
        top: 1em;
    }

    .div_logo {
        width: 6vw;
        height: 10.7vh;
        margin-left: 17px;
    }

    .btn {
        width: 7vw;
        padding: 6px 10px 6px 10px;
        color: transparent;
        border-color: transparent;
    }
}